@keyframes rotateAnimation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.textcolor {
    color: rgb(194, 78, 92);
    background: linear-gradient(90deg, rgba(194, 78, 92, 1) 0%, rgba(121, 9, 19, 1) 13%, rgba(242, 6, 33, 1) 27%, rgba(168, 69, 82, 1) 56%, rgba(243, 6, 42, 1) 70%, rgba(0, 212, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
