@tailwind base;
@tailwind components;
@tailwind utilities;


.h1{
    box-shadow: 0px 0px 12px #000000bb ;
}
body{
    background-color: black;
}
*::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
*{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@keyframes appear{
    from {
    opacity: 0;
    clip-path: inset (100% 100% 0
    0);
    }
    to {
    opacity: 1;
    clip-path: inset(0 0 0 0);
    }
    }

    div{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover
    40%;
    }
    card{
        animation: appear linear;
        animation-timeline: view();
        animation-range: entry 0% cover
        40%;
        }
